<div class="form-group" [class.has-success]="hasSuccess()" [class.has-error]="hasError()">
    <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> {{label}}</label>

    <ng-content></ng-content>


    <!-- <input class="form-control" type="text" id="nome" required minlength="10" name="nome" #iptAddress="ngModel" ngModel placeholder="Seu Nome Completo" autocomplete="off"> -->

    <span class="help-block" class="valid-feedback" *ngIf="hasSuccess()"><i class="fa fa-check"></i> Ok</span>
    <span class="help-block" class="invalid-feedback" *ngIf="hasError()"><i class="fa fa-remove"></i> {{errorMessage}}</span>
</div>