div#Principal {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    border: -5%;
}


/*----------------------------------------------------------------------------------------*/


/*NavBar*/

.navbar {
    /*background-color: #E6E6E6;*/
    opacity: 1;
}


/*----------------------------------------------------------------------------------------*/


/*Login*/

.mostrarJanelaLogin {
    background: burlywood;
    padding: 5px;
}


/*----------------------------------------------------------------------------------------*/


/*background01*/

body.background01 {
    width: 100%;
    background: /*no-repeat*/
    url('../src/assets/Images/ONG.jpg')
}


/*----------------------------------------------------------------------------------------*/


/*section*/

section.background2 {
    background-color: #CDC9C9;
}


/*----------------------------------------------------------------------------------------*/


/*Container-fluid*/

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}


/*----------------------------------------------------------------------------------------*/


/*Institutions Page*/

.carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}


/*----------------------------------------------------------------------------------------*/


/**/

div#Historias {
    background: rgb(243, 243, 243);
}


/*----------------------------------------------------------------------------------------*/


/*Paragrafos*/

p {
    margin-left: 2%;
    margin-right: 2%;
}