<!------------------------------------------------------------------------------------------------------------>
<!-- Slides -->
<div class="card bg-light">
    <img class="card-img-top img-fluid" [src]="institution.imagePath" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{institution.name}}</h5>
        <p class="card-text">{{institution.category}}</p>
        <p class="card-text">{{institution.hours}}</p>
        <a href="#" class="btn btn-primary">Visitar</a>
    </div>
</div>

<!------------------------------------------------------------------------------------------------------------>
<div class="card bg-light">
    <img class="card-img-top img-fluid" [src]="institution.imagePath" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Nome{{institution.name}}</h5>
        <p class="card-text">Categoria: {{institution.category}}</p>
        <p class="card-text">{{institution.hours}}</p>
        <a href="#" class="btn btn-primary">Visitar</a>
    </div>
</div>